.header {
  height: 293px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-content: center;
  padding: 0 50px 0 50px;
}

.header__menu {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
}

.header__menu-list {
  display: flex;
  list-style: circle;
  gap: 32px;
  justify-items: center;
}

.header__menu-item_active {
  list-style: none;
  text-decoration: none;
}

.header__menu-link {
  width: 100%;
  color: #000;
  font-family: "Raleway", serif;
  font-weight: 400;
  font-size: 18px;
}

.header__logo-image {
  display: block;
  width: 148px;
  height: 105px;
}

.address {
  font-style: normal;
  height: 98px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__address {
  max-width: 240px;
  justify-self: end;
}

.address-item {
  width: 100%;
  color: #000;
  font-family: "Raleway", serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
}

.cover {
  position: relative;
  height: 757px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
}

.overlay {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  color: #fff;
  text-transform: uppercase;
  font-family: "Raleway", serif;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 165px;
}

.accent-span {
  display: block;
  letter-spacing: 30px;
}

.text-left {
  text-align: left;
}

.text-center {
  padding-top: 20px;
  text-align: center;
}

.text-right {
  text-align: right;
  padding-top: 20px;
  padding-left: 615px;
}

.cover__description {
  padding: 106px 50px 50px 50px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Raleway", serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  z-index: 1;
}

.cover__description-text {
  display: inline-block;
  align-content: end;
  word-spacing: 17.5px;
}

.bet-button {
  font-family: "Raleway", serif;
  padding: 12px 32px 11px 31px;
  margin-left: 107px;
  border: 1px solid #fff;
  font-weight: 500;
  font-size: 22px;
  color: #fff;
  background-color: transparent;
  text-transform: uppercase;
}

.lots {
  height: 723px;
  margin: 180px 24px 0 24px;
}

.lots__heading {
  font-family: "Raleway", serif;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  line-height: 100%;
  padding-left: 40px;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  column-gap: 25px;
  flex-wrap: wrap;
  padding-top: 27px;
  list-style-type: none;
  padding-left: 0;
  padding-bottom: 30px;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-size: cover;
  background-position: center;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-size: cover;
  background-position: center;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-size: cover;
  background-position: center;
}

.card-link {
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  height: 100%;
}

.card__title {
  color: #fff;
  text-transform: uppercase;
  font-family: "Raleway", serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  padding-left: 40px;
  padding-top: 48px;
  padding-right: 40px;
}

.lots__look-more-link {
  color: #000;
  font-family: "Raleway", serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  padding-left: 40px;
}

.card__text {
  color: #fff;
  font-family: "Raleway", serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  padding-left: 40px;
  padding-right: 40px;
}

.card__text-type_film {
  padding-top: 274px;
}

.card__text-type_book {
  padding-top: 30px;
}

.card__text-type_picture {
  padding-top: 126px;
}

.about {
  height: 595px;
  display: grid;
  grid-template-columns: 334px auto;
  margin: 120px 24px 0 24px;
}

.about__logo {
  display: flex;
  margin-top: 35px;
  justify-self: center;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 100%;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__describe {
  padding-top: 136px;
  padding-left: 25px;
  padding-right: 5px;
}

.about__title {
  color: #000;
  font-family: "Raleway", serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
}

.about__text {
  padding-top: 100px;
  display: grid;
  gap: 24px;
}

.about__text-item {
  display: block;
  color: #000;
  font-family: "Raleway", serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 180px;
  margin: 180px 50px 0 50px;
}

.footer__address {
  max-width: 264.57px;
  justify-self: start;
}

.footer__menu {
  height: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__menu-list {
  justify-items: center;
  list-style: none;
}

.footer__menu-item_active {
  text-decoration: none;
}

.footer__menu-link {
  width: 100%;
  color: #000;
  font-family: "Raleway", serif;
  font-weight: 400;
  font-size: 18px;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 48px;
  justify-content: end;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
